/* Importamos las fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:wght@300;400&display=swap');

:root {
    --verde-eucalipto: #8A9A5B;
    --crema: #FDFBF7;
    --texto: #4A4A4A;
    --blanco-transp: rgba(255, 255, 255, 0.85);
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--texto);
    background-color: var(--crema);
    margin: 0;
    line-height: 1.6;
}

header {
    height: 80vh; /* Ocupa casi toda la pantalla inicial */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('lugar.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 5rem; /* Los nombres se ven mejor más grandes */
    margin-bottom: 0;
    font-weight: 400;
}

.fecha {
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

section {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    background-image: linear-gradient(to bottom, #ffffff, #fdfbf7); /* Efecto papel */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    text-align: center;
    border-top: 5px solid var(--verde-eucalipto);
    border: 1px solid #e0e0e0; /* El borde fino rústico */
}

h2 {
    color: var(--verde-eucalipto);
    font-size: 2.5rem;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    color: #888;
}
.mapa-contenedor {
    margin-top: 30px;
    border: 2px solid var(--verde-eucalipto); /* Un marco del color de tu boda */
    border-radius: 8px;
    overflow: hidden; /* Para que las esquinas del mapa sigan la redondez del borde */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.mapa-contenedor iframe {
    display: block; /* Elimina espacios vacíos debajo del iframe */
}
.info-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.info-item {
    background: #f9fbf9; /* Un verde casi blanco muy sutil */
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
}